In [ ]:
# `ipynb` _ Interactive Python Notebook
- Markdown -notes
- Code - Output(in-place)

In [2]:
for i in range(1, 6):
    print("üî•" * i)

üî•
üî•üî•
üî•üî•üî•
üî•üî•üî•üî•
üî•üî•üî•üî•üî•

In [3]:
for i in range(1, 6):
    print("üî•" * i)

üî•
üî•üî•
üî•üî•üî•
üî•üî•üî•üî•
üî•üî•üî•üî•üî•

Below is for calculating area of circle

# Below is for calculating area of circle

## Below is for calculating area of circle

### Below is for calculating area of circle

## `range(start,end)`

`range()`is usualy used with `for` loop

- always **start** with 0
    - x
        - y
    - x
        - y
- end is not included

https://www.markdownguide.org/basic-syntax/#headings



```python
    print("")
    if True 
    print("")
```

In [4]:
a=input("Please tell me a number?")

print("Area of circle" + str(float(a)**2*3.14))

Area of circle12.56

# List

```py
mark1 = 80
mark1 = 90
mark1 = 100
```

- Hold multiple values
- Index access values

# CRUD
- Create - `marks = [80,90,100,60,85]`
- Read   - `index` & `slice(:)`
- Update - `append `& `insert`
- Delete - `remove` & `pop`

In [5]:
marks = [80,90,100,60,85]
print(marks)

[80, 90, 100, 60, 85]

In [ ]:
print(marks[1])
print(marks[-1]) # negative index

90
85

## Slice operator

In [7]:
print(marks)
print(marks[2:]) # negative index

[80, 90, 100, 60, 85]
[100, 60, 85]

In [8]:
print(marks[::-1])# reverse the list

[85, 60, 100, 90, 80]

## List Methods
- `append()` - add at end
- `insert()` - middle

In [ ]:
marks = [80,90,100,60,85]
print(marks)
marks.append(55)
print(marks)
marks.insert(0,100)
print(marks)

[80, 90, 100, 60, 85]
[80, 90, 100, 60, 85, 55]
[100, 80, 90, 100, 60, 85, 55]

In [ ]:
len(marks) # len for both list & string

6

In [ ]:
type(marks)# list

list

In [ ]:
characters = ['Frieren','Gohan','Goku','Itachi','Gon','Pikachu','Itadori']

In [15]:
# insert - add in middle
characters = ['Frieren','Gohan','Goku','Itachi','Gon','Pikachu','Itadori']
characters.insert(2,'Zoro')
print(characters)

['Frieren', 'Gohan', 'Zoro', 'Goku', 'Itachi', 'Gon', 'Pikachu', 'Itadori']

## Remove items

In [ ]:
characters.pop(4)# Remove by index

In [ ]:
characters.remove('picachu')

In [ ]:
characters

In [ ]:
marks = [80,90,100,60,85]
for i in range(5):
    print(i,marks[i])

0 80
1 90
2 100
3 60
4 85

In [28]:
# Task: In general inside `range(5)`
# Clue: len

marks = [80,90,100,60,85]
for i in range(len(marks)):
    print(marks[i])

# Clue
marks[1] = 75
marks

80
90
100
60
85

[80, 75, 100, 60, 85]

In [10]:
# Task: Double all the numbers
# Output
#[160,180,200,120,170]

marks = [80,90,100,60,85]
double_marks = []
for i in range(len(marks)):
    double_marks.append(marks[i]*2)
print(double_marks)

[160, 180, 200, 120, 170]

In [13]:
# Task: Double the power
powers = [2000, 3000, 4000, 1500]


# Output
# doubled_powers -> [4000, 6000, 8000, 3000]
# powers -> [2000, 3000, 4000, 1500]

double_powers = []
for i in range(len(powers)):
    double_powers.append(powers[i]*2)
print(double_powers)
print(powers)

[4000, 6000, 8000, 3000]
[2000, 3000, 4000, 1500]

In [ ]:
# Task: Double all the numbers

marks = [80, 90, 100, 60, 85]

# Output
# print(marks) -> [160, 180, 200, 120, 170]
# Task: Double the power
powers = [2000, 3000, 4000, 1500]


# Output
# doubled_powers -> [4000, 6000, 8000, 3000]
# powers -> [2000, 3000, 4000, 1500]

In [12]:
marks = [80,90,100,60,85]
for i in range(len(marks)):
    marks[i] = marks[i] *2
print(marks)

[160, 180, 200, 120, 170]

## Task 2.1
Find longer names (>= 6 letter)

`characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]`

### Expected Output
`['Hello kitty', 'Pikachu', 'Yuji Itadori']`

In [ ]:
characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]
targets = []

for i in range(len(characters)):
    if len(characters[i])>= 6:
        targets.append(characters[i])
print(targets) # or targets

['Hello kitty', 'Pikachu', 'Yuji Itadori']

In [31]:
characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]
targets = []

# for i in characters:
#     print(characters[i])

# for .. in | value
for character in characters:# character _ value
    if len(character)>= 6:
        targets.append(character)
print(targets) # or targets

['Hello kitty', 'Pikachu', 'Yuji Itadori']

## Task 2.2

Calculate the total of shopping_items & apply tax of 10%

```py
shopping_items = [1000, 5000,  4000, 2000, 3000]
```

Expected Output

```
Your totals is 15,000
Tax is 10%      1,500 
Your grand total is 16,500
```

In [ ]:
shopping_items = [1000, 5000,  4000, 2000, 3000]

tax_rate = 0.1

total = 0

for i in range(len(shopping_items)):
    total = total + shopping_items[i]
tax = tax_rate * total
print(f"Your totals is {total}")
print(f"Tax is 10% {tax}")
print(f"Your grand total is {total + tax}")

Your totals is 15000
Tax is 10% 1500.0
Your grand total is 16500.0

In [ ]:
shopping_items = [1000, 5000,  4000, 2000, 3000]

tax_rate = 0.1

total = 0

for shopping_item in shopping_items:
    total = total + shopping_item
tax = tax_rate * total
print(f"""Your totals is {total:,}
Tax is 10% {tax:,.0f}
Your grand total is {total + tax:,.0f}""")

Your totals is 15,000
Tax is 10% 1,500
Your grand total is 16,500

https://notes.ragavkumarv.com/python/basics/string-formatting#formatting-numbers-handling-large-figures-%F0%9F%92%B0

In [40]:
shopping_items = [1000, 5000.8566,  4000.678, 2000, 3000]

# tax_rate = 0.1

total = 0

for item in shopping_items:
#    print("item:",item,"total:", total)
    total = total + item # 0 + 1000
tax = total * tax_rate
grand_total = total + tax

print(f"""Your totals is {total:,}
Tax is 10% {tax:,.3f}
Your grand total is {grand_total:,.2f}""")

Your totals is 15,001.534599999999
Tax is 10% 1,500.153
Your grand total is 16,501.69

In [ ]:
# Numeric Separator (_)
salary = 420_000_000  # Using underscores for readability #Easy to read #DX = Developer Experience
salary = 420000000
print(salary)  # Output: 420000000

## Multi line string

In [ ]:
print("""
This is super cool
This is amazing
""")

In [34]:
followers = 2_000

print(f"""
This is super cool
This is amazing
Taisei has {followers}
""")

This is super cool
This is amazing
Taisei has 2000

In [ ]:
shopping_items = [1_000, 5_000,  4_000, 2_000, 3_000] # DX ‚¨ÜÔ∏è

# Sum
total = sum(shopping_items)# DX
tax_rate = 0.1

tax = total * tax_rate
grand_total = total + tax

# print(f"Your total is {total:,}")   # UX ‚¨ÜÔ∏è
# print(f"Tax is 10%    {tax:,} ")    
# print(f"Your grand total is {grand_total:,}")

print(
f"""
Your totals is {total:,}
Tax is 10% {tax:,.0f}
Your grand total is {grand_total:,.0f}
"""
)  # DX

Your totals is 15,000
Tax is 10% 1,500
Your grand total is 16,500

In [42]:
marks = [90,80,40]

sum(marks)

210